header{
text-align: center;
	background-color: #ecf3f3;
}

footer{
  background: #9a9a9a;
}



.coulmn{
  float: left;
  padding: 10px;
}

.left{
  clear: right;
  width: 75%;
}

.right {
  float: right;
  width: 25%;
}
